.overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.profileActions {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 20px !important;
}
