.course {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.course h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
}

.bannerDiv {
    margin: 10px auto;
    width: 600px;
    aspect-ratio: 16/9;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.bannerDiv img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.description {
    width: 70%;
    margin: 0 auto;
    font-size: 1.3rem;
}

.description p {
    white-space: pre-line;
    overflow-wrap: break-word;
}

.teacherActions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.mainContent {
    width: 80%;
    margin: 0 auto;
}

.section h3 {
    text-align: left;
    font-size: 2.5rem;
}

.oneContent {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 25px;
    font-size: 1.8rem;
}

.oneContent .contentLink {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.oneContent .contentLink:link,
.oneContent .contentLink:visited {
    color: white;
}

.oneContent .contentLink:hover {
    color: white;
    text-decoration: underline;
}

.contentActionLink,
.contentActionLink:link,
.contentActionLink:visited {
    color: #feba55 !important;
    transition: 0.2s;
    font-size: 1rem;
}

.contentActionLink:hover {
    color: #f7a429 !important;
}

.oneContent svg {
    width: 30px !important;
    height: auto;
    margin: 10px 0;
}

.sectionTitleDiv {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.sectionTitleDiv a,
.sectionTitleDiv a:link,
.sectionTitleDiv a:visited {
    color: #feba55 !important;
    transition: 0.2s;
}

.sectionTitleDiv a:hover {
    color: #f7a429 !important;
}

.notEnrolled {
    font-size: 1.5rem;
}

input[type="checkbox"] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
    accent-color: #feba55;
}

.checkQuestion {
    background: rgba(255, 255, 255, 0.4) !important;
    width: 800px;
    padding: 20px 50px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px auto;
}

.answer {
    margin: 5px 0;
    padding: 10px 5px;
}

.answers {
    font-size: 1.3rem;
}

.answers label,
.answers input {
    cursor: pointer;
}

.correctAnswer {
    color: green;
    background-color: rgb(157, 253, 157);
    font-weight: bold;
    border-radius: 10px;
}

.totalPoints {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    width: 500px;
    padding: 20px 0;
}

.totalPoints span {
    font-size: 2.5rem;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    cursor: pointer;
}

.star-hover svg path {
    fill: #feba55 !important;
}

.usersRating {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.ratingsCount {
    font-size: 1.2rem;
}

.ratingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ratingStar svg {
    width: 40px;
    height: auto;
}

.courseOwner {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: white !important;
    text-decoration: none !important;
}

.courseOwner img {
    width: 40px;
}

.courseOwner p {
    margin: 0;
    font-size: 1.2rem;
    color: white !important;
    text-decoration: none !important;
}

.courseOwner a,
.courseOwner a:link,
.courseOwner a:visited,
.courseOwner a:active {
    color: white !important;
    text-decoration: none !important;
}

.deleteButton {
    outline: none;
    border: none;
    background-color: unset;
    text-decoration: underline;
    color: #dc3545;
    font-size: 1rem !important;
}

.deleteButton:hover {
    color: #c82333;
}

.deleteCourseAdminButton {
    margin: 10px;
    display: grid;
    place-items: center;
}

.testCancel {
    border: 1px solid #ccc !important;
}

@media screen and (max-width: 1000px) {
    .checkQuestion {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .totalPoints {
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .course {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {
    .bannerDiv {
        width: 100%;
    }

    .courseTitle h1 {
        font-size: 1.8rem !important;
    }

    .courseOwner p {
        font-size: 1rem !important;
    }

    .usersRating h3 {
        font-size: 1.2rem;
    }

    .ratingDiv span {
        font-size: 1.2rem;
    }

    .ratingsCount {
        font-size: 1rem !important;
    }

    .ratingStar {
        width: 30px;
    }

    .description {
        font-size: 1.2rem;
    }

    .mainContent h1 {
        font-size: 1.8rem !important;
    }

    .section h3 {
        font-size: 1.5rem !important;
    }

    .oneContent {
        font-size: 1.2rem;
    }
}
