.banner {
    height: 800px;
    position: relative;
    font-weight: bold;
    overflow: hidden;
}

.bannerContent h1 {
    font-size: 3rem;
}

.bannerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2.5rem;
    padding: 100px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.banner img {
    width: 100%;
}

#main {
    padding: 0 0 20px 0 !important;
    margin: 0 !important;
}

.carousel-item img {
    border-radius: 10px !important;
}
.latestCourses {
    margin: 50px auto;
    width: 900px;
}

.latestCourses h1 {
    text-align: center;
}

.newsTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.latestNews {
    color: white !important;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
}

.latestNews a,
.latestNews a:active,
.latestNews a:link {
    color: white !important;
    text-decoration: none;
    transition: 0.3s;
}

.latestNews a:hover {
    color: #feba55 !important;
}

.latestNews h1 {
    text-align: center;
}

.newsMessage {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 1.2em;
    white-space: nowrap;
}

.ratingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
}

.ratingsCount {
    font-size: 1.1rem;
}

.ratingStar svg {
    width: 30px;
    height: auto;
}

.readMore {
    float: right;
}
