body {
    background-color: #000000 !important;
    background-image: url(../images/geometric.png);
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    color: white !important;
    word-wrap: break-word !important;
}

.navigationBar {
    background: rgba(255, 255, 255, 0.3) !important;
}

.nav-link {
    font-weight: bold !important;
    font-size: 1.1rem !important;
    color: white !important;
}

.card {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.form-control {
    background: rgba(255, 255, 255, 0.8) !important;
}

.modal-content,
.modal-header {
    background-color: rgb(45, 45, 45) !important;
}
.iti__country-list {
    color: black;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 10px;
}

.btn {
    border: none !important;
}

.btn-secondary {
    background: rgb(37, 37, 37) !important;
}

.btn-secondary:hover {
    background: rgb(55, 55, 55) !important;
}

.customBtn {
    display: block;
    background-color: #feba55 !important;
    color: white !important;
}

.customBtn:hover {
    background-color: #f7a429 !important;
    color: white !important;
}

.navbar-toggler {
    background-color: white !important;
}

.cropModal {
    background-color: rgb(106, 106, 106) !important;
    position: fixed !important;
    top: 50%;
    left: 50%;
    width: 800px !important;
    height: 500px !important;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 3px solid rgb(38, 38, 38) !important;
}

.cropDiv {
    width: 100% !important;
    padding: 0 !important;
    overflow: auto !important;
}

.image {
    display: block;
    max-width: 100%;
}

.btn-close {
    color: white !important;
}

@media screen and (max-width: 850px) {
    .cropModal {
        width: 90% !important;
        height: 400px;
    }
}

@media screen and (max-width: 400px) {
    .navbar-brand {
        height: 70px !important;
        margin-bottom: 20px;
    }

    .navbar-brand img {
        height: 70px !important;
    }
}
